<!-- main/templates/main/login.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    {% block content %}
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
        <div class="card p-4" style="width: 100%; max-width: 400px;">
        <!-- <div class="container mt-5"> -->
            <h2 class="text-center mb-4">Login</h2>
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <!--<label for="username">Username:</label>
                <input type="text" name="username" required><br><br>
                <label for="password">Password:</label>
                <input type="password" name="password" required><br><br>-->
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
        </div>
    </div>
    {% endblock %}
</body>
</html>
